<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="../darkMode/darkmodeStyle.css">
<style>
	* {
		padding: 20px;
		margin: 20px;
	}
</style>

<title>Employee Productivity</title>
</head>
<body onload = getTheme()>
<h1>Productivity Records:</h1>
<hr>
	<form>
		<table class="table table-striped">
			<tr style="font-weight: bold">
				<td>ID</td>
				<td>Employee ID</td>
				<td>Contribution</td>
				<td>Hours</td>
				<td></td>
				<td></td>
			</tr>
			<tr th:each="currentRecord : ${records}" >
				<td th:text="${currentRecord.id}" />
				<td th:text="${currentRecord.employeeId}" />
				<td th:text="${currentRecord.contribution}" />
				<td th:text="${currentRecord.hours}" />
				<td><a th:href="@{/editProductivity/{id}(id=${currentRecord.id})}">Edit</a></td>
				<td><a th:href="@{/deleteProductivity/{id}(id=${currentRecord.id})}">Delete</a></td>
			</tr>
		</table>
	</form>
	<hr><br/>
	<a href="/inputProductivity">Add Productivity Record</a><br/><br/>
	<a href="/managerView">Back</a>
</body>
<footer>
<button onclick = "darkMode()" id = "theme" class= "button">Dark Mode Theme</button>
</footer>
<script src="../darkMode/darkmode.js"></script>
</html>