<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<style>
	* {
		padding: 20px;
		margin: 20px;
	}
</style>

<title>Employee Safety</title>
</head>
<body>
<h1>Safety Records:</h1>
<hr>
	<form>
		<table class="table table-striped">
			<tr style="font-weight: bold">
				<td>ID</td>
				<td>Employee ID</td>
				<td>Incidents</td>
				<td>Notes</td>
				<td></td>
				<td></td>
			</tr>
			<tr th:each="currentRecord : ${records}" >
				<td th:text="${currentRecord.id}" />
				<td th:text="${currentRecord.employeeId}" />
				<td th:text="${currentRecord.incidents}" />
				<td th:text="${currentRecord.notes}" />
				<td><a th:href="@{/editSafety/{id}(id=${currentRecord.id})}">Edit</a></td>
				<td><a th:href="@{/deleteSafety/{id}(id=${currentRecord.id})}">Delete</a></td>
			</tr>
		</table>
	</form>
	<hr><br/>
	<a href="/inputSafety">Add Safety Record</a><br/><br/>
	<a href="/managerView">Back</a>
</body>
</html>