<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<style>
	* {
		padding: 20px;
		margin: 20px;
	}
</style>

<title>Employee Page</title>
</head>
<body>
<h1>Employee Page</h1>
<hr>
	<a href="viewAllAttendance">View Attendance Record</a>
	<a href="viewAllProductivity">View Productivity Record</a>
	<a href="viewAllSafety">View Safety Record</a>
	<a href="viewAllBonusEmployee">View Bonus Eligibility</a>
	<hr><br/>
	<a href="home">Home Page</a>
</body>
</html>