<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<style>
	* {
		padding: 2px;
		margin: 20px;
	}
</style>

<title>View bonus</title>
</head>
<body>
<h1> Bonus Eligibility: </h1>
<hr>
	
		<form th:action="@{/enterBonusEmployee}">
	  	<div class="form-group-sm">
	    	<label for="employeeNumber">Employee Number</label>
			<input id="employeeNumber" class="form-control" name="employeeNumber" size="20" th:value="*{employeeNumber}" ><br/>
		</div>
	  <button name="submit" value="submit" type="submit" class="btn btn-primary">Submit</button>
	</form>
	
	<hr><br />
	<h3>Bonus</h3>
	<h6 th:text="${bonusMessage}"></h6>
	<h6 th:text="${bonusAmount}"></h6>
	<br />
	<a href="/employeeView">Back</a>
</body>
</html>